name: Build LaTeX Document

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          # The action uses latexmk by default, which handles bibliography (biber) automatically

      - name: Upload PDF Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Project-Proposal-PDF
          path: main.pdf
          retention-days: 5